.menubar {
  color: #5a4441;
  width: auto;
  font-size: 20px;

}
.Logo{
  position: absolute;
  margin-left: 50px;
  font-size: 40px;
  color: aqua;
}


.menubar li {
  display: inline-block;
}

.icon span {
  float: right;
  margin-right: -270px;
  display: flex;
}

.icon a {
  float: right;
  margin-right: -400px;
  display: flex;
}

.menubar a {
  display: block;
  font-family: 'Cormorant Unicase', sans-serif;
  color: #5a4441;
  text-decoration: none;
  padding: 25px;
  color: #5a4441;
  font-size: 20px;
}

.dropdown {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 20px;
}

.products {
  list-style-type: none;
  display: none;
  position: absolute;
  /* padding: 1px; */
  /* height: 10px; */
  font-size: 15px;
  width: auto;
}

.dropdown li:nth-child(2):hover .products {
  display: block;
  margin-top: -30px;
  left: 530px;
}

/* New Style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
/* body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

img{
  width: 100%;
  display: block;
}

.containers{
  width: 88vw;
  margin: 0 auto;
}

.lg-title,.md-title, .sm-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
  color: #5a4441;
  text-transform: uppercase;
}

.lg-title{
  font-family: 'Bitter';
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.sm-title{
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.md-title{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-light{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

.product{
  padding: 3.2rem 0;
}

.product .text-light{
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}

.product1{
  margin: 2rem;
  position: relative;
}

.product-content{
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.product-img{
  box-shadow: 0 0 20px 10px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  
}

.product-btns{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy{
  background: transparent;
  border: 1px solid #5a4441;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  /* transition: all 0.6s ease; */
}

.btn-cart{
  background-color: #5a4441;
}

.btn-cart:hover{
  color: #eee4e1;
}

.btn-buy{
  background-color: #5a4441;

}
.btn-buy:hover{
  color: #eee4e1;
}

.product-info{
  padding: 2rem;
  background-color: #fff;
}

.product-info-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span{
  color: #5a4441;
}

.product-name{
  color: #5a4441;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price{
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}

.product-price:first-of-type{
  text-decoration: line-through;
  color: black;
}

/* .product-img img{
  transition: transform 0.6s ease;
} */

/* .product:hover .product-img img{
  transform: scale(1.1);
} */

.product:hover .product-btns{
  opacity: 1;
}

.off-info .sm-title{
  background-color:#5a4441;
  color: #eee4e1;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

.product-collection{
  padding: 3.2rem 0;
}

.product-collection-wrapper{
  padding: 3.2rem 0;
}

.product-col-left{
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)),url(/APPLICATION/IMAGES/silverpendant.jpg) center/cover no-repeat;
}

.product-col-r-top{
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)),url(/APPLICATION/IMAGES/silverpendant.jpg) center/cover no-repeat;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}

.product-col-r-bottom> div:first-child{
  background-color: cadetblue;
}
.product-col-r-bottom> div:last-child{
  background-color:darkgreen;
}

.product-col-column{
  text-align: center;
  color: white;
}

.product-collection .text-light{
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}

.btn-dark{
  background-color: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition:all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}

.btn-dark:hover{
  background-color: brown;
}

@media screen and (min-width:992px){
  .product-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .product-col-r-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-width:1200px){
  .product-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .products{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .product1 .text-light{
    width: 50%;
  }
}
@media screen and (min-width:1336px){
  .product-items{
    /* display: grid; */
    grid-template-columns: repeat(4,1fr);
  }
  .product-collection-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .flex{
    height: 60vh;
  }
  .product-col-left{
    height: 121.5vh;
  }
}

